#header {
  position: relative;
  background-image: url('https://raw.githubusercontent.com/sabusaif/AO3-Site-Skin_Kingdom-Hearts/refs/heads/main/images/header/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out 0s; 
}

#header:has(#site_search:focus) {
  background-image: url('https://kh.wiki.gallery/images/thumb/a/a2/Promotional_Art_01_KHMOM.png/800px-Promotional_Art_01_KHMOM.png');
}


#header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('https://raw.githubusercontent.com/sabusaif/AO3-Site-Skin_Kingdom-Hearts/refs/heads/main/images/header/a70to3.png');
  background-repeat: no-repeat;
  background-size: 20em;
  background-position: bottom;
  transition: background-image 0.5s ease-in-out 0s;
}

#header:has(#site_search:focus)::before {
  background-position: top;
  background-image: url('https://pbs.twimg.com/media/EvXQrkkWQAEG8v1.png:large');
}

#header .heading {
  height: 23.5em;
}
