#header {
  position: relative;
  background-color: #0c0c0c;
  background-image: url('https://raw.githubusercontent.com/sabusaif/AO3-Site-Skin_Kingdom-Hearts/refs/heads/main/images/header/background.jpg');
  background-size: auto 100%;
  background-position: center;
}

#header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('https://raw.githubusercontent.com/sabusaif/AO3-Site-Skin_Kingdom-Hearts/refs/heads/main/images/header/a70to3.png');
  background-repeat: no-repeat;
  background-size: 20em;
  background-position: bottom;
}

#header .heading {
  height: 23.5em;
}

#login {
  background: none;
}

#header a {
  color: #f7f5f4;
}

#header h1 a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 5%;
  left: 0;
  background-image: url('https://i.redd.it/ufhz2hg3oo521.png');
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: bottom;
  opacity: 65%;
}

#header .logo, #header h1 sup, #header h1 a span {
  display: none !important;
}
