#header {
  position: relative;
  background-color: #0c0c0c;
  background-image: url('https://raw.githubusercontent.com/sabusaif/AO3-Site-Skin_Kingdom-Hearts/refs/heads/main/images/header/background.jpg');
  background-size: auto 100%;
  background-position: center;
}

#header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('https://raw.githubusercontent.com/sabusaif/AO3-Site-Skin_Kingdom-Hearts/refs/heads/main/images/header/sora.png');
  background-repeat: no-repeat;
  background-size: 20em;
  background-position: bottom;
}

#header .heading {
  height: 23.5em;
}

#header .user {
  padding: 0;
  margin: 0.429em 0;
}

#login {
  background: none;
}

#header /*#login-dropdown*/ a {
  /*color: #f7f5f4 !important;*/
}

#header h1 a::before {
  content: "";
  position: absolute;
  width: 20em;
  height: 7em;
  top: 54.5%;
  right: 0;
  bottom: 0;
  left: 50%;
  background-image: url('https://raw.githubusercontent.com/sabusaif/AO3-Site-Skin_Kingdom-Hearts/refs/heads/main/images/header/title.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  opacity: 65%;
  transform: translate(-50%);
}

@media (max-width: 767px) and (orientation: portrait) {
  #header h1 a::before {
    width: 17em;
    height: 5.5em;
    top: 59%;
    bottom: 6%;
    background-size: 90%;
  }
}

#header .logo, #header h1 sup, #header h1 a span {
  display: none;
}

#login {
  margin-right: 0.429em;
}

#login #login-dropdown {
  color: white;
   border-radius: 0.5em;
  top: 0.4em;
  right: 0.4em;
  transform: translateY(0);
  transition:
    transform 0.4s ease, opacity 0.4s ease,
    color 0.2s linear, background-color 0.2s linear, box-shadow 0.2s linear;
}

#login #login-dropdown:hover, #header .actions #login-dropdown:focus {
  background-color: #dbdbdbcc;
  color: #111111;
  outline: none;
  box-shadow:
    inset 0 0 0 0.05em #770000,
    0 0 0 0.15em #a24247,
    0 0 0 0.2em #770000,
    0 0 1.5em #a24247;
  text-shadow: 0 0 0.2em #585858ad;
}

#login .open #login-dropdown {
  transform: translateY(1em);
  visibility: hidden;
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-radius: 0;
  transition: filter 0.25s ease;
}


#login #login-dropdown::after {
  content: "";
  filter: brightness(100);
  opacity: 0;
  transform: translateX(1em);
  transition: opacity 0.3s linear 0.1s, transform 0.4s ease-out;
}

#login .open #login-dropdown::after {
  content: "";
  visibility: visible;
  display: inline-block;
  margin: 0.8em 0.8em 0 0;
  transform: translate(0, -1em);
  width: 2em;
  height: 2em;
  background-image: url('https://github.com/Televo/kingdom-hearts-recollection/blob/main/Minimal/Worlds/Simulated%20Twilight%20Town.png?raw=true');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  filter: brightness(100) drop-shadow(1px 1px 0 black) ;
}

#login .open #login-dropdown:hover {
  filter: drop-shadow(0 0 0.8em #ff6969);
}

#small_login {
  display: block;
  opacity: 0;
  width: 22em;
  text-shadow: 0.075em 0.075em 0 black;
  transform: translate(1em);
  pointer-events: none;
  padding: 0.475em 0.5em 0.475em 0.5em;
  margin: 1em 1em 0 0;
  background-color: rgba(255, 255, 255, 0.05);
  /*background-color: transparent;*/
  background-image: 
    url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ceb42da1-3637-4312-816f-30e7ecea3189/dd6iy8p-22b33d93-e395-476e-bd0c-6e085ca4a0ac.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi9jZWI0MmRhMS0zNjM3LTQzMTItODE2Zi0zMGU3ZWNlYTMxODkvZGQ2aXk4cC0yMmIzM2Q5My1lMzk1LTQ3NmUtYmQwYy02ZTA4NWNhNGEwYWMuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.lMMYRivtpt-33CtAe8rwmzF6PrS9nhe_sI9cPaGkjAU'),
    repeating-linear-gradient(
      to bottom,
      rgba(234 234 234 / 20%) 0px,
      rgba(234 234 234 / 20%) 1.5px,
      rgba(200 200 200 / 20%) 1.5px,
      rgba(200 200 200 / 20%) 3px
    );
  background-size: 87%, 100% 6px;
  background-repeat: no-repeat, repeat;
  background-position: bottom -3em right -6.9em, 0 0;
  
  border: solid 0.15em #a24247;
  box-shadow:
    inset 0 0 0 0.05em #770000,
    0 0 0 0.05em #770000,
    0 0 1.5em #a24247;
  border-radius: 0.5em;

  transition: opacity 0.3s linear , transform 0.4s ease-out;
}

.open + #small_login {
  opacity: 1;
  mask-position: right;
  transform: translateX(0);
  pointer-events: auto;
}

#small_login form {
  margin-top: 1em;
}

#small_login form, #small_login ul {
  transform: translateY(0.5em);
  transition: transform 0.4s ease-out;
}

.open + #small_login form, .open + #small_login ul {
  transform: translateY(0);
}

#user_session_login_small, #user_session_password_small {
  width: 90%;
}

#user_session_login_small, #user_session_password_small, #site_search {
  background: none;
  background-color: #111111;
  
  border-radius: 0;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  
  border-bottom: none;
  border-right: none;
  border-top: solid 0.15em #64666c !important;
  border-left: solid 0.15em #64666c !important;
  
  box-shadow: none;
  padding-left: 1em;
  color: white !important;
}

#user_session_login_small:focus, #user_session_password_small:focus, #site_search:focus {
  outline: none !important;
  box-shadow: 0 0 0 2px #d50b11;
  background: linear-gradient(to bottom, #111111, #3c0001);
  border-right: solid #111111 0.3em !important;
  border-bottom: solid #111111 0.3em !important;
}

#small_login dl {
  height: 7.7em;
}

#small_login dt {
  margin-bottom: 0.3em;
  color: white;
  margin-left: 1.3em;
}

#small_login dd {
  width: 100%;
  display: flex;
  justify-content: center;
}

#small_login .submit {
  position: relative;
}

#small_login .submit label {
  padding-left: 2.1em;
  padding-top: 0.4em;
  padding-bottom: 0;
  border: none;
  border-radius: 0;
  border-bottom: solid 0.2em;
  border-image: linear-gradient(to right, #111111 30%, transparent 70%) 1;
  color: white;
  background: linear-gradient(to right, transparent 20%, #a24247 55%, transparent 80%);
  background-size: 170%;
  background-position: left;
  transition: background-position 0.5s ease-in-out;
}

#small_login .submit label:hover {
  cursor: pointer;
  background-position: right;
  box-shadow: none;
}

#small_login .submit input[type="checkbox"] {
  appearance: none;
  position: absolute;
  border: none;  
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  height: 1.886em;
  width: 1.886em;
  background-color: #e0e0e0;
  /*border: solid #111111 0.3em;*/
  box-shadow:
    inset 0 0 0 0.4em #111111,
    inset 0 0.5em 0 0 #9d9d9d,
    inset 0.5em 0 0 0 #9d9d9d,
    inset 0 0 0 0 rgba(0,0,0,0);
  border-radius: 0;
}

#small_login .submit input[type="checkbox"]:checked {  
  box-shadow:
    inset 0 0 0.5em 0.2em #111111,
    inset 0 0 0 0.4em #c17446,
    inset 0 0.5em 0 0 #fdc94e,
    inset 0.5em 0 0 0 #fdc94e;
  background-color: #fdf9b2;
}

#small_login .submit input:hover, #small_login .submit input:focus {
  cursor: pointer;
}

#small_login .submit input[type="submit"] {
  padding-top: 0.4em;
  padding-left: 1em;
  padding-right: 2.5em;

  color: #fefcff;
  text-shadow: 0.075em 0.075em 0 black;

  border: solid 0.2em transparent;
  border-left-width: 0.8em;
  border-radius: 0;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  
  background:
    url('https://github.com/sabusaif/ao3-site-skin_kingdom-hearts/blob/main/images/header/login/keyblade_icon.png?raw=true') no-repeat right 0.5em center / 1.5em,

    linear-gradient(135deg, #a63a46 0, #a63a46 13%, transparent 5%) padding-box,
    linear-gradient(to bottom, #1f0000 40%, #910000 80%) padding-box,
    linear-gradient(135deg, transparent 10%, #a63a46 0) border-box;
}

#small_login .submit input[type="submit"]:hover, #small_login .submit input[type="submit"]:focus {
  box-shadow: none;
}

#small_login li a {
  color: white !important;
}

.summary .heading {
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ceb42da1-3637-4312-816f-30e7ecea3189/dd8mpzh-00896cbc-f186-4349-b4c2-d065fcbe6ae7.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi9jZWI0MmRhMS0zNjM3LTQzMTItODE2Zi0zMGU3ZWNlYTMxODkvZGQ4bXB6aC0wMDg5NmNiYy1mMTg2LTQzNDktYjRjMi1kMDY1ZmNiZTZhZTcuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.DR1_srJbgDUtdVvyMZLO-xfSomIipbum6hhR24noo0s');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 5em;
  align-content: end;
}

.notes .heading {
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ceb42da1-3637-4312-816f-30e7ecea3189/dd8rl5f-e45c5b37-5631-4432-a631-1ea9c7ebcc90.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi9jZWI0MmRhMS0zNjM3LTQzMTItODE2Zi0zMGU3ZWNlYTMxODkvZGQ4cmw1Zi1lNDVjNWIzNy01NjMxLTQ0MzItYTYzMS0xZWE5YzdlYmNjOTAuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.cBK54RVl-tItB0XjUCeI-V73C4htk9GKwFLMD2lk418');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 6em;
  align-content: end;
}

::selection {
  background: #8e4141;
  color: white;
  text-shadow: none;
}
